<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  		<img src="https://dl.dropboxusercontent.com/u/45843110/FreeAtNoon/F%40N_Big_Logo_hosted.png" alt="FreeAtNoon" height="60" width="271">
    <h1>Glad you signed up <%= @user.first_name %>!</h1>
    <p>It looks like you signed up earlier today on your phone. The last thing we need is to know when you’re free.</p>
    <p>Go to <a href=http://www.freeatnoon.com/users/sign_in>freeatnoon.com</a> (on a computer, not your phone). Sign in and input your rough availability. After that you'll be all set. Excited to have you in the group.</p>
    <p><a href=http://www.freeatnoon.com/users/sign_in>Finish setup now!</a></p>
    <p>Love,</br> The FreeAtNoon Bot</p>
  </body>
</html>
