<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.full_name %>!</h1>
    <p>Please visit freeatnoon.com, log in with your credentials, and input your time availability.</p>
  </body>
</html>
