<!DOCTYPE html>
<head>

</head>
<body>
<div id="home_img">
	<div class="container">
		<div id="bigBox" class="col-lg-6 col-lg-offset-3">
			<div id="bigBoxContent">
			<h3>Welcome to</h3>
			<h1>Free at Noon</h1>
			<p>We’re a group of people at Penn who want to take advantage of our random windows of free of time — to meet new people and to keep up with friends.</p>
			<p>It’s a pain to schedule that stuff though. This tool takes the hassle out of seeing if anyone is free when you are. Join us!</p>
			<%= link_to "Join the group", new_user_registration_path, class: "btn btn-default" %></>
			</div>
		</div>
	</div>
</div>
</body>
