<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1> Smses Admin Page </h1>
      <table class="table table-striped">
	<thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Body</th>
          </tr>
	</thead>
	<tbody>
          <% @smses.each do |sms| %>
          <tr>
            <td><%= sms.from_user_id ? sms.from_user.full_name : sms.from %></td>
            <td><%= sms.to_user_id ? sms.to_user.full_name : sms.to %></td>
            <td><%= sms.body %></td>
	    </td>
          </tr>
          <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
