<form id="edit-free-time-info-form">
  <%= render "form", user: current_user %>
</form>

<div id="edit-mobile-message">
  <p> Sorry, it is inconvenient to edit your time availability on mobile. Please try again later on your laptop!</p>
</div>

<div id="edit-successful-message">
  <h2> Great! You're all set. You'll get a text on the days you're free asking if you're still open to meet up.</h2>
</div>
