<form id="edit-free-time-info-form">
  <%= render "form" %>
</form>

<div id="edit-successful-message">
  <h2> Great! You're all set. You'll get a text on the days you're free asking if you're still open to meet up.</h2>
</div>
