// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
	padding: 0px;
}

