// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
	padding: 0px;
}

#home_img {
	background-image:url('https://dl.dropboxusercontent.com/u/45843110/FreeAtNoon/obama-medvedyev-cropped.png');
	width: 100%;
	height: 100%;
	position: absolute;
}