// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: "Journal";
 src: url("journal.ttf") format("truetype");
}


body {
	margin: 0px;
	padding: 0px;
}

#home_img {
	background-image: asset-url("obama-medvedyev-cropped.png", image);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

#bigBox {
	margin-top: 30%;
	background-color: rgba(66, 129, 203, 0.8);
}

#bigBoxContent {
	color: #ffffff;
}

#welcome-message {
	margin: auto auto auto auto;
	text-align: center;
	margin-top: 20px;
}

#user-info-form {
    display: none;
}

#welcome-message > h1 {
	font-family: "Journal";
	font-size: 64pt;
	line-height: 15pt;
	padding-bottom: 30px;
}

#welcome-message > h3 {
	font-size: 14pt;
	font-weight: 800;
}

#welcome-message > p {
	text-align: left;
 color: black;
}

#time-info-form {
    display: none;
    color: black;
}
