// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: "Journal";
 src: asset-url("journal.ttf", font) format("truetype");
}

@mixin stylish-buttons($margin-top: 15px, $margin-bottom: 25px) {
    .btn {
	margin-top: $margin-top;
	margin-bottom: $margin-bottom;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 20pt;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #36CBA2;
	color: #fff !important;
    }
    .btn:hover {
				background-color: #43DBB1;
    }
    .btn:active {
				background-color: #2DB28E;
    }
    #sign-in-button {
    background-color: #A0A0A0;
    }
}



body {
	margin: 0px;
	padding: 0px;
	background-color: #7D7D7D;
}

#home_img {
	background-image: asset-url("obama-medvedyev-cropped.png", image);
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

#bigBox {
	margin-top: 20%;
	background-color: rgba(66, 129, 203, 0.85);
}

#bigBoxContent {
	color: #ffffff;
}

#welcome-message {
	margin: auto auto auto auto;
	text-align: center;
	margin-top: 20px;
    h1 {
	font-family: "Journal";
	font-size: 64pt;
	line-height: 15pt;
	padding-bottom: 30px;
    }

    h3 {
	font-size: 14pt;
	font-weight: 800;
    }

    p {
	text-align: left;
	margin-left: 6%;
	margin-right: 6%;
 font-family: "Roboto";
	font-weight: 100;
	font-size: 13pt;
	line-height: 16pt;
    }

    @include stylish-buttons;
}

#user-info-form {
 display: none;

 h2 {
     text-align: center;
 }

 #new_user {
 	margin-left: auto;
 	margin-right: auto;
 	width: 250px;
 	input {
 		height: 30px;
 		width: 200px;
			margin-left: 25px;
			padding-left: 10px;
		}
		label {
			margin-left: 25px !important;
		}
 }
 @include stylish-buttons(20px, 20px);
}

label {
	font-family: "Roboto" !important;
	font-weight: 100 !important;
	font-size: 13pt !important;
	margin-top: 15px;
	line-height: 0pt;
}

input {
	border-radius: 3px;
	border: 1px inset rgba(0, 0, 0, 0.35);
	color: #36CBA2 !important;

}

#free-time-info-form {
    display: none;
    text-align: center;
    @include stylish-buttons;
}

#edit-free-time-info-form {
    text-align: center;
    @include stylish-buttons;
}

#sign-in-form {
 margin-left: auto;
 margin-right: auto;
 text-align: left;
	width: 250px;
	h2 {
  text-align: center;
	}
	input {
	height: 30px;
	width: 200px;
	margin-left: 25px;
	padding-left: 10px;
	}
	label {
		margin-left: 25px !important;
	}		
	@include stylish-buttons(20px, 10px);
	.btn {
	height: 50px !important;
	}
	#forgot-password-button {
	margin-left: 50px;
	color: #E0E0E0;
	}
	#forgot-password-button:hover {
	text-decoration: none;
	};
}

#forgot-password-form {
	@extend #sign-in-form;
}

#continue-button {
	margin-left: 23px;
}

#thankyou-message {
	display: none;

	h2 {
		text-align: center;
		margin-top: 35px;
		margin-bottom: 15px;
	}

	p {
	text-align: left;
	margin-left: 6%;
	margin-right: 6%;
 font-family: "Roboto";
	font-weight: 100;
	font-size: 13pt;
	line-height: 16pt;
	}

	a {
		color: #000;
	}
}

footer {
	position: fixed;
	bottom: 0;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 12pt;
	color: #4281CB;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 1px;
	left: 50%;
	width: 250px;
	text-align: center;
	margin-left: -125px;
}
